<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devcommunity.nabong.mapper.support.DevInquryMapper">

    <!-- Q&A 게시글 등록 -->
    <insert id="devInquryInsert" parameterType="com.devcommunity.nabong.model.vo.support.DevInquryVO">
        <![CDATA[
        INSERT INTO tb_com_inqry (
            INQRY_SJ,
            INQRY_CN,
            FILE_SN,
            CREAT_DT,
            CRTR_SN,
            UPDT_DT,
            UPDUSR_SN,
            ANSWER_AT,
            SECRET_AT,
            INQRY_USER_SN
        ) VALUES (
         #{inqrySj},
         #{inqryCn}
         #{fileSn},
         NOW(),
         #{crtrSn},
         NOW(),
         #{updusrSn},
         'N',
         #{secretAt},
         #{inqryUserSn}
        )
        ]]>
	</insert>

    <!-- Q&A 목록 조회 -->
    <select id="devInquryList" parameterType="com.devcommunity.nabong.model.vo.support.DevInquryVO" resultType="com.devcommunity.nabong.model.vo.support.DevInquryVO">
        select row_number() over(order by i.INQRY_SN asc) as INQRY_INDEX , i.INQRY_SN, i.INQRY_USER_SN , i.FILE_SN , i.INQRY_CN , i.INQRY_SJ , i.SECRET_AT , i.ANSWER_AT , i.ANSWER_CN , i.ANSWER_USER_SN , i.ANSWER_DT , i.CREAT_DT , i.UPDT_DT , i.UPDUSR_SN, u.USER_ID
        from tb_com_inqry i inner join tb_user u
        on i.INQRY_USER_SN = u.user_sn
        where 1=1
        <if test=' srchType neq null and srchType neq "" '>
            <choose>
                <when test="srchType eq '1'.toString()">
                    and INQRY_SJ like CONCAT('%', #{srchWord}, '%')
                </when>
                <when test="srchType eq '2'.toString()">
                    and INQRY_CN like CONCAT('%', #{srchWord}, '%')
                </when>
                <when test="srchType eq '3'.toString()">
                    and u.USER_ID like CONCAT('%', #{srchWord}, '%')
                </when>
            </choose>
        </if>
        order by INQRY_SN desc
        <if test=' pageStart neq null and perPageNum neq null '>
            LIMIT #{pageStart}, #{perPageNum}
        </if>
    </select>


    <!-- Q&A 상세 조회 -->
    <select id="devInquryDetail" parameterType="com.devcommunity.nabong.model.vo.support.DevInquryVO" resultType="com.devcommunity.nabong.model.vo.support.DevInquryVO">
        select X.* from (select i.INQRY_SN , i.INQRY_USER_SN , i.FILE_SN , i.INQRY_CN , i.INQRY_SJ , i.SECRET_AT , i.ANSWER_AT , i.ANSWER_CN , u1.USER_ID as ANSWER_USER_ID , DATE_FORMAT(i.ANSWER_DT, '%Y-%m-%d') AS ANSWER_DT , DATE_FORMAT(i.CREAT_DT, '%Y-%m-%d') AS CREAT_DT , i.UPDT_DT , i.UPDUSR_SN, u.USER_ID
        , COALESCE(LAG(i.INQRY_SN) OVER(ORDER BY i.INQRY_SN), -1) AS BEFORE_INQRY_SN
        , LAG(i.INQRY_SJ) OVER(ORDER BY i.INQRY_SN) AS BEFORE_INQRY_SJ
        , COALESCE(LEAD(i.INQRY_SN) OVER(ORDER BY i.INQRY_SN), -1) AS NEXT_INQRY_SN
        , LEAD(i.INQRY_SJ) OVER(ORDER BY i.INQRY_SN) AS NEXT_INQRY_SJ
        from tb_com_inqry i
        inner join tb_user u
        on i.INQRY_USER_SN = u.user_sn
        left outer join tb_user u1
        on u1.USER_SN = i.ANSWER_USER_SN) X
        where 1=1
        <if test="inqrySn neq null and inqrySn neq ''">
            and INQRY_SN like #{inqrySn}
        </if>
    </select>



    <!-- Q&A 게시글 수정 -->
    <update id="devInquryUpdate" parameterType="com.devcommunity.nabong.model.vo.support.DevInquryVO">
        UPDATE tb_com_inqry
            SET INQRY_SJ    =   #{inqrySj},
                INQRY_CN    =   #{inqryCn},
                FILE_SN     =   #{fileSn},
                UPDT_DT     =   NOW(),
                UPDUSR_SN   =   #{updusrSn},
                SECRET_AT   =   #{secretAt}
            WHERE   INQRY_SN = #{inqrySn}
    </update>


    <!--  Q&A 삭제 -->
    <delete id="devInquryDelete" parameterType="com.devcommunity.nabong.model.vo.support.DevInquryVO">
        delete from tb_com_inqry
        where inqry_sn = #{inqrySn}
    </delete>


    <!--  Q&A 조회수 카운트-->
    <select id="devInquryReadhitCount" parameterType="com.devcommunity.nabong.model.vo.support.DevInquryVO" resultType="Integer">
        select COUNT(*) AS COUNT
        from tb_com_inqry i
        inner join tb_user u
        on i.INQRY_USER_SN = u.user_sn
        where 1=1
        <if test=' srchType neq null and srchType neq "" '>
            <choose>
                <when test="srchType eq '1'.toString()">
                    and INQRY_SJ like CONCAT('%', #{srchWord}, '%')
                </when>
                <when test="srchType eq '2'.toString()">
                    and INQRY_CN like CONCAT('%', #{srchWord}, '%')
                </when>
                <when test="srchType eq '3'.toString()">
                    and u.USER_ID like CONCAT('%', #{srchWord}, '%')
                </when>
            </choose>
        </if>
    </select>

</mapper>